* {
  box-sizing: border-box;
}

header {

}

#navBar {
  background-image: url(../images/02-hero-bg.jpg);;
  display: flex;
  flex-direction: row;
  margin: 0px 0%;
}

#navigation p {
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
  background-color: aquamarine;
  text-align: center;
}
h2 {
  margin: 1%;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
  background-color: aquamarine;
}
h3, h4, h5, h6 {
  margin: 1%;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 1;
  padding: 1;
}

/*hero-banner*/

.hero-banner {
 
  background-position: center ;
}


/*Potfolio Grid Css*/
.page-section{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.portfolioGridArea {

}

#work {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "portfolioOne portfolioOne"
  "portfolioTwo portfolioThree"
  "portfolioFour portFolioFive";
}

#portfolioOne {
  grid-area: portfolioOne;
  background-image: url("../images/02-portfolio-1.jpg")
}
#portfolioTwo {
  grid-area: portfolioTwo;
  background-image: url("../images/02-portfolio-2.jpg")
}
#portfolioThree {
  grid-area: portfolioThree;
  background-image: url("../images/02-portfolio-3.jpg")
}
#portfolioFour {
  grid-area: portfolioFour;
  background-image: url("../images/02-portfolio-4.jpg")
}
#portfolioFive {
  grid-area: portfolioFive;
  background-image: url("../images/02-portfolio-5.jpg")
}

#portfolioOne #portfolioTwo #portfolioThree #portfolioFour #portfolioFive {
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

